*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(255, 255, 255);

  font-family: 'Fredoka', sans-serif;


  text-align: center;
}

h1{
  font-weight: 800;
  color: #E53170;
  margin: 40px;
}

/* * Header */



header{
  /* text-align: center; */

  /* padding: auto; */

  /* ! soluzione provvisoria */
  padding-right: 35px;

  margin: 10px auto;
  width: 1170px;

}

/* * MAIN */

main{
  width: 1170px;
  margin: 10px auto;
}

.container {
  width: 1170px;
  margin: 10px auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.card{
  background-color: #0f0e17;
  box-shadow: 2px 2px 2px 2px #888888;

  margin: 15px;
  width: calc(90%/3);
  /*! width: 30%; */
  height: 100px;
  float: left;

  border-radius: 10px;   /*? extra: non richiesto dall'esercizio */
}

/* ! .card:last-child{
  margin-right: 0px;
}

.card:first-child{
  margin-left: 0px;
} */


.little_container{
  text-align: left;
  padding: 5px;
  /* padding-right: 30px; */

}

.little_container > *{
  padding: 4px;
  color: white;
}

.little_container a{
  color: #51C4EF;
  text-decoration: none;
}

div img{
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin-right: 10px;

  border-radius: 10px;   /*? extra: non richiesto dall'esercizio */
}


























